## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
merged_df=pd.merge(mouse_metadata, study_results, on="Mouse ID")

# Display the data table for preview
merged_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [17]:
# Checking the number of mice.
mice=merged_df["Mouse ID"].unique()
mice_number=len(mice)
mice_number

249

In [32]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
mice=merged_df["Mouse ID"].value_counts()

mice

g989    13
a897    10
q633    10
f545    10
a401    10
        ..
u153     1
h428     1
d133     1
v199     1
b447     1
Name: Mouse ID, Length: 249, dtype: int64

In [35]:
# Optional: Get all the data for the duplicate mouse ID. 

dup_mouse=merged_df.loc[merged_df["Mouse ID"]=="g989", :]
dup_mouse

,index,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
586,908,g989,Propriva,Female,21,26,0,45.000000,0
587,909,g989,Propriva,Female,21,26,0,45.000000,0
588,910,g989,Propriva,Female,21,26,5,48.786801,0
589,911,g989,Propriva,Female,21,26,5,47.570392,0
590,912,g989,Propriva,Female,21,26,10,51.745156,0
591,913,g989,Propriva,Female,21,26,10,49.880528,0
592,914,g989,Propriva,Female,21,26,15,51.325852,1
593,915,g989,Propriva,Female,21,26,15,53.442020,0
594,916,g989,Propriva,Female,21,26,20,55.326122,1
595,917,g989,Propriva,Female,21,26,20,54.657650,1
596,918,g989,Propriva,Female,21,26,25,56.045564,1
597,919,g989,Propriva,Female,21,26,30,59.082294,1
598,920,g989,Propriva,Female,21,26,35,62.570880,2

In [52]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_data=merged_df[merged_df["Mouse ID"] != "g989"]
clean_data=clean_data.drop("index", axis=1)
clean_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,a203,Infubinol,Female,20,23,0,45.000000,0
1,a203,Infubinol,Female,20,23,5,48.508468,0
2,a203,Infubinol,Female,20,23,10,51.852437,1
3,a203,Infubinol,Female,20,23,15,52.777870,1
4,a203,Infubinol,Female,20,23,20,55.173336,1

In [56]:
# Checking the number of mice in the clean DataFrame.
mice=clean_data["Mouse ID"].unique()
mice_count=len(mice)
mice_count

248

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method is the most straighforward, creating multiple series and putting them all together at the end.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen